body {
  background: #fffdf9;
  color: rgba(0,0,0,0.9);
  font-famiLy: "helvetica";
  padding: 1.5rem;
}
.text-hero {
  max-width: 620px;
  margin: 3rem auto 5rem;
  text-align: center;
}
.text-hero img {
  max-width: 320px;
  height: auto;
}
.text-hero h1 {
  font-size: 2.5rem;
}
.text-hero h2 {
  font-size: 1.275rem;
  font-weight: 400;
}

.properties {
  max-width: 620px;
  margin: 0 auto;
}

.properties h3 {
  font-size: 1.275rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.properties p {
  font-size: 1.05rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}
